
__pycache__
config.json

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.store

pkg/
src/
BraveSoftware/
Brave-Browser/
ShaderCache/
Safe Browsing/
Code/
Default/
TabNine/
Google/
dconf/